// Gallery Listing View Styles
#galleriesHero
	textHero()
	aspect(small,3,1)

.galleryThumbnail
	flexContainer()
	box-sizing border-box
	.galleryThumbnail__text
		flex 1
		padding .25rem
		box-sizing border-box
		text-align center
		h4
			surTitle()
		& > *
			padWidth(small,20%,20%)
	.galleryThumbnail__photo
		flex 1
		padding .25rem
		box-sizing border-box
		.galleryThumbnail__image
			thumbnailImage()
			aspect(small,1,1)

.imageCaption
	position absolute
	bottom .5rem
	right .5rem
	margin-left .5rem
	padding .5rem 1rem
	background rgba(0,0,0,0.75)
	border-radius .25rem
	font-size .75rem
	color white
	opacity 0
	transition opacity linear .2s
	z-index 9
	a
		color white
*:hover > .imageCaption
	opacity 1

// Gallery View Styles
#galleryHero
	textHero()
	aspect(small,3,1)

#galleryBody
	margin .25rem

#galleryGrid
	.galleryGrid__item
		padding .25rem
		box-sizing border-box
		.galleryGrid__thumbnail
			thumbnailImage()
			aspect(small,1,1)

#galleryQuote
	padding .25rem
	position relative
	#galleryQuote__photo
		thumbnailImage()
		aspect(small,2,1)
		cursor pointer
	#galleryQuote__overlay
		positionAll(.25rem)
		display flex
		flex-direction row-reverse
		align-items center
		color white
		box-sizing border-box
		background linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,0.6))
		pointer-events none
		#galleryQuote__text
			flex-basis 50%
			padding 2rem
			text-align center
			box-sizing border-box
			blockquote
				heading()
				font-family font-playfair
				font-style italic
				font-size 2.5em
			#galleryQuote__byline
				surTitle()
				color white

#galleryInfo
	display flex
	text-align center
	#galleryInfo__vendors
		flex 1
		padding 6rem 0
		ul
			margin 0
			padding 0
			list-style none
			li
				padding .25rem
	#galleryInfo__cta
		flex 1
		padding 6rem 0

#galleryModal
	display none
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	z-index 100
	overflow hidden
	background rgba(0,0,0,0.05)
	#galleryModal__slider
		positionAll(1rem)
		background white
		box-shadow 0 10px 30px rgba(0,0,0,.4)
		transition all ease-out .2s
		#galleryModal__close
			position absolute
			top 1rem
			right 1rem
			z-index 10
			cursor pointer
			&:hover
				color amber
		#galleryModal__slideContainer
			positionAll(0)
			div
				height 100%
				background-position center center
				background-size contain
				background-repeat no-repeat
