#processHero,#processHero
	textHero()
	aspect(small,3,1)

.processStep
	flexContainer()
	box-sizing border-box
	&:nth-child(2n+2)
		flex-direction row-reverse
	.processStep__text
		flex 1
		padding .25rem
		box-sizing border-box
		text-align center
		h4
			surTitle()
		& > *
			padWidth(small,20%,20%)
	.processStep__photo
		flex 1
		padding .25rem
		box-sizing border-box
		position relative
		.processStep__image
			thumbnailImage()
			aspect(small,6,5)
