{% extends 'base.html.twig' %}

{% block content %}
  {% include 'partials/header.html.twig' %}
  <div class="row" id="page">
    <div class="small-10 columns small-offset-1">
    	{{ page.content }}
    	<div class="row">
    	  <div class="small-2 columns">
    	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus sem sem, eu feugiat eros interdum sed. Fusce eget libero fringilla, fermentum tellus ut, volutpat ipsum. Aenean porta nunc nec finibus maximus. In hac habitasse platea dictumst. Sed nec massa vel magna ullamcorper ultrices vitae at risus. Sed venenatis, turpis cursus tincidunt tristique, nisl augue pulvinar purus, ut bibendum purus elit ac velit.</p>
    	  </div>
    	  <div class="small-2 columns">
    	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus sem sem, eu feugiat eros interdum sed. Fusce eget libero fringilla, fermentum tellus ut, volutpat ipsum. Aenean porta nunc nec finibus maximus. In hac habitasse platea dictumst. Sed nec massa vel magna ullamcorper ultrices vitae at risus. Sed venenatis, turpis cursus tincidunt tristique, nisl augue pulvinar purus, ut bibendum purus elit ac velit.</p>
    	  </div>
    	  <div class="small-2 columns">
    	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus sem sem, eu feugiat eros interdum sed. Fusce eget libero fringilla, fermentum tellus ut, volutpat ipsum. Aenean porta nunc nec finibus maximus. In hac habitasse platea dictumst. Sed nec massa vel magna ullamcorper ultrices vitae at risus. Sed venenatis, turpis cursus tincidunt tristique, nisl augue pulvinar purus, ut bibendum purus elit ac velit.</p>
    	  </div>
    	  <div class="small-2 columns">
    	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus sem sem, eu feugiat eros interdum sed. Fusce eget libero fringilla, fermentum tellus ut, volutpat ipsum. Aenean porta nunc nec finibus maximus. In hac habitasse platea dictumst. Sed nec massa vel magna ullamcorper ultrices vitae at risus. Sed venenatis, turpis cursus tincidunt tristique, nisl augue pulvinar purus, ut bibendum purus elit ac velit.</p>
    	  </div>
    	  <div class="small-2 columns">
    	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus sem sem, eu feugiat eros interdum sed. Fusce eget libero fringilla, fermentum tellus ut, volutpat ipsum. Aenean porta nunc nec finibus maximus. In hac habitasse platea dictumst. Sed nec massa vel magna ullamcorper ultrices vitae at risus. Sed venenatis, turpis cursus tincidunt tristique, nisl augue pulvinar purus, ut bibendum purus elit ac velit.</p>
    	  </div>
    	  <div class="small-2 columns">
    	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus sem sem, eu feugiat eros interdum sed. Fusce eget libero fringilla, fermentum tellus ut, volutpat ipsum. Aenean porta nunc nec finibus maximus. In hac habitasse platea dictumst. Sed nec massa vel magna ullamcorper ultrices vitae at risus. Sed venenatis, turpis cursus tincidunt tristique, nisl augue pulvinar purus, ut bibendum purus elit ac velit.</p>
    	  </div>
    	</div>
    </div>
  </div>
  {% include 'partials/footer.html.twig' %}
{% endblock %}