{{> header}}
	    
	    <section class="kit-wrapper-block vertical-center-wrap" id="front-feature">
		    
		    <div class="kit-wrapper-max">
			    
			    <div class="kit-column-xlarge kit-push-xsmall">
				    <hgroup class="center vertical-center">
				        <h3 class="h2">It Takes Love.</h3>
				        <a href="#" class="kit-button kit-button-light">See Our Video</a>
				    </hgroup>
			    </div>
			    
		    </div>
		    
	    </section>
	    
	    <hr class="kit-spacer-100">
	    
	    <section class="kit-wrapper-block">
		    
		    <div class="kit-wrapper-max">
			    
			    <div class="kit-column-large center">
				    <hr class="kit-spacer-60">
				    <img src="http://placehold.it/80x80/FFCC66/FFFFFF">
				    <h3>We Do (<em>Weddings</em>)</h3>
				    <p>Weddings are the ultimate art form to which we can aspire. Sharing such a special occasion with our couples and their loved ones is truly a privilege. Come talk to us today about how we design some of the most beautiful and personal floral decor for our clients.</p>
			        <a href="#" class="kit-button">See Our Video</a>
			    </div>
			    
			    <div class="kit-column-large center">
				    <img src="http://placehold.it/800x700/FFFFFF/EEEEEE" class="kit-img-flex">
			    </div>
			    
		    </div>
		    
	    </section>
	    
	    <hr class="kit-spacer-100">
	    
	    <section class="kit-wrapper-block">
		    
		    <div class="kit-wrapper-max kit-right-to-left">
			    
			    <div class="kit-column-large center">
				    <hr class="kit-spacer-60">
				    <img src="http://placehold.it/80x80/FFCC66/FFFFFF">
				    <h3><em>Corporate</em> Doesn’t Have<br>to Mean <em>Boring</em></h3>
				    <p>Whether weekly floral deliveries, decor for a corporate gathering or any occasion your company has for floral design, Nectar can be trusted to bring the beauty (And professionalism).</p>
			        <a href="#" class="kit-button">See Our Video</a>
			    </div>
			    
			    <div class="kit-column-large center">
				    <img src="http://placehold.it/800x700/FFFFFF/EEEEEE" class="kit-img-flex">
			    </div>
			    
		    </div>
		    
	    </section>
	    
	    <hr class="kit-spacer-100">
	    
	    <section class="kit-wrapper-block">
		    
		    <div class="kit-wrapper-max">
			    
			    <div class="kit-column-large center">
				    <hr class="kit-spacer-60">
				    <img src="http://placehold.it/80x80/FFCC66/FFFFFF">
				    <h3>It’s Not Just a Job...</h3>
				    <p>...It’s a way of life. We love flowers and we live the life day in and day out. Whether we’re setting up a wedding on a summer day or teaching class here in the Nectar studio, we’re so thankful we get to share our passion with clients, vendors and students.</p>
			        <a href="#" class="kit-button">See Our Video</a>
			    </div>
			    
			    <div class="kit-column-large center">
				    <img src="http://placehold.it/800x700/FFFFFF/EEEEEE" class="kit-img-flex">
			    </div>
			    
		    </div>
		    
	    </section>
	    
	    <hr class="kit-spacer-100">
	    
	    <section class="kit-wrapper-block">
		    
		    <div class="kit-wrapper-max">
			    
			    <div class="kit-column-large kit-push-small center">
				    <h3>Want to Talk More?</h3>
				    <p>That’s great! We’ll talk shop any time, why not contact us today?</p>
			        <a href="#" class="kit-button">Talk to Us Today!</a>
			    </div>
			    
		    </div>
		    
	    </section>

	    <hr class="kit-spacer-100">

{{> footer}}