<!-- Global Header -->
<header id="header">

  <!-- Site Logo -->
  <a href="#" id="header-sitelogo">
    <img src="{{ url('theme://images/nectar-logo.png', true) }}" id="header-sitelogo-img" alt="Nectar Floral Design">
  </a>
  
  <!-- Global Nav Menu -->
  <nav id="header-nav">
    <ul>
      <li>
        <a href="#">
          <h1 id="header-nav-brand">nectar</h1>
        </a>
      </li>
      <li id="header-nav-pipe">|</li>
      <li>
        <a href="#">The Studio</a>
      </li>
      <li>
        <a href="#">Our Work</a>
      </li>
      <li>
        <a href="#">Flowers 101</a>
      </li>
      <li>
        <a href="#">Get in Touch</a>
      </li>
    </ul>
  </nav>
  
</header>