{{> head}}
<body class="page page--textFeature">
{{> header}}

	<section id="galleryHero">
		<div class="heroBody">
			<div class="heroText">
				<h2>The Barn at Gibbet Hill - Groton, MA</h2>
				<h1>Gertie &amp; Voort</h1>
			</div>
		</div>
	</section>

	<section id="galleryBody">

		<!-- Gallery Thumbnail -->
		<div class="galleryThumbnail">
			<div class="galleryThumbnail__text">
				<h4 class="galleryThumbnail__location">It Takes a Village</h4>
				<h3 class="galleryThumbnail__title">All Our Friends &amp; Family</h3>
				<p class="galleryThumbnail__blurb">Sustainable plaid semiotics tacos health goth photo booth fixie, XOXO cliche echo park migas squid before they sold out pabst bicycle rights. Pork belly chillwave man braid intelligentsia, direct trade celiac organic polaroid pug kogi meditation master cleanse. Readymade fingerstache raw denim pork belly asymmetrical.</p>
			</div>
			<div class="galleryThumbnail__photo">
				<div class="galleryThumbnail__image" style="background-image:url(https://placeimg.com/2000/1000)">
					<div class="galleryThumbnail__caption imageCaption">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
				</div>
			</div>
		</div>

		<div class="grid" id="galleryGrid">
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail" style="background-image:url(https://placeimg.com/2001/1000)">
					<div class="imageCaption">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail" style="background-image:url(https://placeimg.com/2002/1000)">
					<div class="imageCaption">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail" style="background-image:url(https://placeimg.com/2003/1000)">
					<div class="imageCaption">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail" style="background-image:url(https://placeimg.com/2004/1000)">
					<div class="imageCaption">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail" style="background-image:url(https://placeimg.com/2005/1000)">
					<div class="imageCaption">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail" style="background-image:url(https://placeimg.com/2006/1000)">
					<div class="imageCaption">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail" style="background-image:url(https://placeimg.com/2007/1000)">
					<div class="imageCaption">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail" style="background-image:url(https://placeimg.com/2008/1000)">
					<div class="imageCaption">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail" style="background-image:url(https://placeimg.com/2009/1000)">
					<div class="imageCaption">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail" style="background-image:url(https://placeimg.com/2010/1000)">
					<div class="imageCaption">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
				</div>
			</div>
			<div class="galleryGrid__item">
				<div class="galleryGrid__thumbnail" style="background-image:url(https://placeimg.com/2011/1000)">
					<div class="imageCaption">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
				</div>
			</div>
		</div>

		<div id="galleryQuote">
			<div id="galleryQuote__photo" style="background-image:url(https://placeimg.com/2012/1000)"></div>
			<div id="galleryQuote__overlay">
				<div id="galleryQuote__text">
					<blockquote>Pork belly wolf wayfarers, single-origin coffee cold-pressed roof party etsy banh mi put a bird on it kickstarter yr tumblr cornhole shoreditch.</blockquote>
					<p id="galleryQuote__byline">Gertie Rassmussen</p>
				</div>
			</div>
		</div>

		<div id="galleryInfo">
			<div id="galleryInfo__vendors">
				<h3>Vendors</h3>
				<ul>
					<li>Catering: <a href="#">Yum Yum Nom Nom</a></li>
					<li>Photography: <a href="#">Cool Photography</a></li>
					<li>Venue: <a href="#">The Barn at Gibbet Hill</a></li>
					<li>Videography: <a href="#">Action!</a></li>
					<li>Catering: <a href="#">Yum Yum Nom Nom</a></li>
					<li>Photography: <a href="#">Cool Photography</a></li>
					<li>Venue: <a href="#">The Barn at Gibbet Hill</a></li>
					<li>Videography: <a href="#">Action!</a></li>
				</ul>
			</div>
			<div id="galleryInfo__cta">
				<h3>Get in Touch</h3>
				<a href="#">Let's Talk.</a>
			</div>
		</div>

	</section>

</body>
{{> footer}}
