{{> header}}

<section>
  <div class="grid">
    <div class="small-8 medium-10 small-centered testblock-1">
      <div class="small-12 medium-6 large-3 small-center testblock-1 column" style="height:200px;"></div>
      <div class="small-12 medium-6 large-3 small-center testblock-2 column" style="height:200px;"></div>
      <div class="small-12 medium-6 large-3 small-center testblock-1 column" style="height:200px;"></div>
      <div class="small-12 medium-6 large-3 small-center testblock-2 column" style="height:200px;"></div>
    </div>
  </div>
</section>
<p>Lorem ipsum dolor sit amet.</p>

{{> footer}}