---
title: Nectar Floral Design - Boston Wedding Florist
---
{{> header}}

<section id="home__feature" style="background-image:url(https://placeimg.com/2000/1000/nature)">
  <div id="homeFeature__column">
    <div class="block__text">
      <div>
        <h2>Lorem Ipsum Dolor sit Amet</h2>
        <p>Congratulations! You’re getting married and you’re talking to us about your flowers. Our first step is an introductory phone call.</p>
        <p>We’ll talk about your wedding plans, how the two of you met, how he popped the question. Afterward we’ll send you a questionnaire to get some more detail about your event, but on this call we just want to get to know you better.</p>
        <a href="#">Find Out More</a>
      </div>
    </div>
  </div>
</section>

<section id="home__block1">
  <div class="block__text">
    <div>
      <h2>Lorem Ipsum Dolor sit Amet</h2>
      <p>Congratulations! You’re getting married and you’re talking to us about your flowers. Our first step is an introductory phone call.</p>
      <p>We’ll talk about your wedding plans, how the two of you met, how he popped the question. Afterward we’ll send you a questionnaire to get some more detail about your event, but on this call we just want to get to know you better.</p>
      <a href="#">Find Out More</a>
    </div>
  </div>
  <div class="block__photo">
    <div style="background-image:url(https://placeimg.com/800/600/nature)" class="block__img">
    </div>
  </div>
</section>

<section id="home__block2">
  <div class="block__text">
    <div>
      <h2>Lorem Ipsum Dolor sit Amet</h2>
      <p>Congratulations! You’re getting married and you’re talking to us about your flowers. Our first step is an introductory phone call.</p>
      <p>We’ll talk about your wedding plans, how the two of you met, how he popped the question. Afterward we’ll send you a questionnaire to get some more detail about your event, but on this call we just want to get to know you better.</p>
      <a href="#">Find Out More</a>
    </div>
  </div>
  <div class="block__photo">
    <div style="background-image:url(https://placeimg.com/800/600/nature)" class="block__img">
    </div>
  </div>
</section>

<section id="home__block3" style="background-image:xurl(https://placeimg.com/1800/960/nature)">
  <div class="block__text">
    <div>
      <h2>Lorem Ipsum Dolor sit Amet</h2>
      <p>Congratulations! You’re getting married and you’re talking to us about your flowers. Our first step is an introductory phone call.</p>
      <p>We’ll talk about your wedding plans, how the two of you met, how he popped the question. Afterward we’ll send you a questionnaire to get some more detail about your event, but on this call we just want to get to know you better.</p>
      <a href="#">Find Out More</a>
    </div>
  </div>
  <div class="block__photo">
    <div style="background-image:url(https://placeimg.com/800/600/nature)" class="block__img">
    </div>
  </div>
</section>

<section id="home__block4" style="background-image:xurl(https://placeimg.com/1800/960/nature)">
  <div class="block__text">
    <div>
      <h2>Lorem Ipsum Dolor sit Amet</h2>
      <p>Congratulations! You’re getting married and you’re talking to us about your flowers. Our first step is an introductory phone call.</p>
      <p>We’ll talk about your wedding plans, how the two of you met, how he popped the question. Afterward we’ll send you a questionnaire to get some more detail about your event, but on this call we just want to get to know you better.</p>
      <a href="#">Find Out More</a>
    </div>
  </div>
  <div class="block__photo">
    <div style="background-image:url(https://placeimg.com/800/600/nature)" class="block__img">
    </div>
  </div>
</section>

<section id="home__block5" style="background-image:url(https://placeimg.com/2000/1000/nature)">
  <div id="block5__column">
    <div class="block__text">
      <div>
        <h2>Lorem Ipsum Dolor sit Amet</h2>
        <p>Congratulations! You’re getting married and you’re talking to us about your flowers. Our first step is an introductory phone call.</p>
        <p>We’ll talk about your wedding plans, how the two of you met, how he popped the question. Afterward we’ll send you a questionnaire to get some more detail about your event, but on this call we just want to get to know you better.</p>
        <a href="#">Find Out More</a>
      </div>
    </div>
  </div>
</section>

<section id="home__block6" style="background-image:url(https://placeimg.com/2002/1000/nature)">
  <div id="block6__column">
    <div class="block__text">
      <div>
        <h2>Lorem Ipsum Dolor sit Amet</h2>
        <p>Congratulations! You’re getting married and you’re talking to us about your flowers. Our first step is an introductory phone call.</p>
        <p>We’ll talk about your wedding plans, how the two of you met, how he popped the question. Afterward we’ll send you a questionnaire to get some more detail about your event, but on this call we just want to get to know you better.</p>
        <a href="#">Find Out More</a>
      </div>
    </div>
  </div>
</section>

{{> footer}}
