// Colors
$dk-gray: #444;
$mid-gray: #AAA;
$lt-gray: #eee;
$amber: #f7941e;

// Typography
$font-cabin: 'Cabin', sans-serif;
$font-playfair: "Playfair Display", serif;

// Header
$header-bg: $lt-gray;
$header-z: 100;
