{{> head}}
<body class="page page--textFeature">
{{> header}}

	<section id="galleriesHero">
		<div class="heroBody">
			<div class="heroText">
				<h1 class="galleryHero__surTitle">Photo Galleries</h1>
				<h2 class="galleryHero__title">Meet Our Couples</h2>
			</div>
		</div>
	</section>

	<section id="galleryBody">

		<!-- Gallery Thumbnail -->
		<div class="galleryThumbnail">
			<div class="galleryThumbnail__text">
				<h4 class="galleryThumbnail__location">The Estate at Morraine Farm - Beverly, MA</h4>
				<h3 class="galleryThumbnail__title">Eunice &amp; Kyle</h3>
				<p class="galleryThumbnail__blurb">Lorem ipsum dolor sit amet, lorem ipsum. Dolor sit amet lorem. Ipsum dolor sit. Amet lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>
				<a href="/photo-galleries/eunice-kyle/" class="galleryThumbnail__cta">View Gallery</a>
			</div>
			<div class="galleryThumbnail__photo">
				<div class="thumbnailWrapper">
					<a href="/photo-galleries/eunice-kyle/" title="Eunice &amp; Kyle">
						<div class="galleryThumbnail__image thumbnailImage" style="background-image:url({{assets}}/images/gallery/eunice-kyle/eunice-kyle_1059.jpg)"></div>
					</a>
					<div class="thumbnailPhotoCredit">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
				</div>
			</div>
		</div>

		<!-- Gallery Thumbnail -->
		<div class="galleryThumbnail">
			<div class="galleryThumbnail__text">
				<h4 class="galleryThumbnail__location">The Ben Franklin Institute - Boston, MA</h4>
				<h3 class="galleryThumbnail__title">Connie &amp; Chris</h3>
				<p class="galleryThumbnail__blurb">Lorem ipsum dolor sit amet, lorem ipsum. Dolor sit amet lorem. Ipsum dolor sit. Amet lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>
				<a href="/photo-galleries/connie-chris/" class="galleryThumbnail__cta">View Gallery</a>
			</div>
			<div class="galleryThumbnail__photo">
				<div class="thumbnailWrapper">
					<a href="/photo-galleries/connie-chris/" title="Connie &amp; Chris">
						<div class="galleryThumbnail__image thumbnailImage" style="background-image:url({{assets}}/images/gallery/connie-chris/connie-chris_0177.jpg)"></div>
					</a>
					<div class="thumbnailPhotoCredit">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
				</div>
			</div>
		</div>

	</section>

</body>
{{> footer}}
