{{> head}}
<body class="page page--imageFeature">
{{> header}}

	<section id="galleriesHero" style="background-image:url(https://placeimg.com/2000/1000/nature)">
		<div id="galleriesHero__text">
			<h1 class="galleryHero__surTitle">Photo Galleries</h1>
			<h2 class="galleryHero__title">Meet Our Couples</h2>
		</div>
	</section>

	<section id="galleriesBody">

		<!-- Gallery Thumbnail -->
		<div class="galleryThumbnail">
			<div class="galleryThumbnail__text">
				<h4 class="galleryThumbnail__location">The Barn at Gibbet Hill - Groton, MA</h4>
				<h3 class="galleryThumbnail__title">Gertie &amp; Voort</h3>
				<p class="galleryThumbnail__blurb">Lorem ipsum dolor sit amet, lorem ipsum. Dolor sit amet lorem. Ipsum dolor sit. Amet lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>
				<a href="/photo-galleries/test" class="galleryThumbnail__cta">View Gallery</a>
			</div>
			<div class="galleryThumbnail__photo">
				<a href="/photo-galleries/test" title="Gallery Example">
					<div class="galleryThumbnail__image" style="background-image:url(https://placeimg.com/2000/1000/nature)"></div>
					<div class="galleryThumbnail__caption">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
				</a>
			</div>
		</div>

		<!-- Gallery Thumbnail -->
		<div class="galleryThumbnail">
			<div class="galleryThumbnail__text">
				<h4 class="galleryThumbnail__location">The Barn at Gibbet Hill - Groton, MA</h4>
				<h3 class="galleryThumbnail__title">Fatima &amp; Jaleel</h3>
				<p class="galleryThumbnail__blurb">Lorem ipsum dolor sit amet, lorem ipsum. Dolor sit amet lorem. Ipsum dolor sit. Amet lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>
				<a href="#" class="galleryThumbnail__cta">View Gallery</a>
			</div>
			<div class="galleryThumbnail__photo">
				<a href="#" title="Gallery Example">
					<div class="galleryThumbnail__image" style="background-image:url(https://placeimg.com/2000/1000/nature)"></div>
					<div class="galleryThumbnail__caption">Photo by <a href="#" title="John the Designer" target="_blank">John the Designer</a></div>
				</a>
			</div>
		</div>

	</section>

</body>
{{> footer}}
