{{> header}}

<section id="galleries__feature" style="background-image:url(https://placeimg.com/2000/1000/nature)">
  <div id="galleriesFeature__column">
    <div>
      <h1>Sarah &amp; Matt in the Barn</h1>
      <h4>The Barn at Gibbet Hill, Groton, MA</h4>
    </div>
  </div>
</section>

<section id="galleries__body">
	<div id="galleriesBody__column">

		<div id="gallery__intro">
			<p>Nunc ut nisl id ipsum dictum efficitur. Ut cursus tristique congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum, ligula vitae hendrerit semper, justo tortor aliquam arcu, et suscipit est leo non est. Nullam mattis mi ac elit semper gravida. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras rutrum, diam non bibendum viverra, lectus orci egestas turpis, sit amet dictum orci nulla id leo. Quisque mi ex, mollis sit amet semper quis, malesuada ac lectus.</p>
		</div>

		<div id="gallery__block1">
			<div id="galleryBlock1__photo1">
				<div class="gallery__photo">
					<img src="https://placeimg.com/1500/1000/nature">
					<p class="gallery__caption">Fusce ut ex quis dui pellentesque tincidunt. Phasellus vehicula nisi eu maximus molestie. Nam ac euismod velit. Mauris vitae quam ligula.</p>
				</div>
			</div>
			<div id="galleryBlock1__photo2">
				<div class="gallery__photo">
					<img src="https://placeimg.com/1501/1000/nature">
					<p class="gallery__caption">Fusce ut ex quis dui pellentesque tincidunt. Phasellus vehicula nisi eu maximus molestie. Nam ac euismod velit. Mauris vitae quam ligula.</p>
				</div>
			</div>
			<div id="galleryBlock1__photo3">
				<div class="gallery__photo">
					<img src="https://placeimg.com/2001/1000/nature">
					<p class="gallery__caption">Fusce ut ex quis dui pellentesque tincidunt. Phasellus vehicula nisi eu maximus molestie. Nam ac euismod velit. Mauris vitae quam ligula.</p>
				</div>
			</div>
		</div>

		<div id="gallery__block2">
			<div id="galleryBlock2__pullquote">
				<blockquote>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</blockquote>
			</div>
			<div id="galleryBlock2__text">
				<p>Nunc ut nisl id ipsum dictum efficitur. Ut cursus tristique congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum, ligula vitae hendrerit semper, justo tortor aliquam arcu, et suscipit est leo non est. Nullam mattis mi ac elit semper gravida. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras rutrum, diam non bibendum viverra, lectus orci egestas turpis, sit amet dictum orci nulla id leo. Quisque mi ex, mollis sit amet semper quis, malesuada ac lectus.</p>
				<p>Nam vitae turpis vel ex cursus consequat in aliquam libero. Donec tristique auctor nunc a blandit. Fusce ut ex quis dui pellentesque tincidunt. Phasellus vehicula nisi eu maximus molestie. Nam ac euismod velit. Mauris vitae quam ligula. Morbi consequat id augue sit amet euismod. In quis imperdiet sem.</p>
			</div>
			<div id="galleryBlock2__photo1">
				<div class="gallery__photo">
					<img src="https://placeimg.com/2002/1000/nature">
					<p class="gallery__caption">Fusce ut ex quis dui pellentesque tincidunt. Phasellus vehicula nisi eu maximus molestie. Nam ac euismod velit. Mauris vitae quam ligula.</p>
				</div>
			</div>
		</div>

		<div id="gallery__block3">
			<div id="galleryBlock3__photo1">
				<div class="gallery__photo">
					<img src="https://placeimg.com/1500/1000/nature">
					<p class="gallery__caption">Fusce ut ex quis dui pellentesque tincidunt. Phasellus vehicula nisi eu maximus molestie. Nam ac euismod velit. Mauris vitae quam ligula.</p>
				</div>
			</div>
			<div id="galleryBlock3__photo2">
				<div class="gallery__photo">
					<img src="https://placeimg.com/1501/1000/nature">
					<p class="gallery__caption">Fusce ut ex quis dui pellentesque tincidunt. Phasellus vehicula nisi eu maximus molestie. Nam ac euismod velit. Mauris vitae quam ligula.</p>
				</div>
			</div>
			<div id="galleryBlock3__photo3">
				<div class="gallery__photo">
					<img src="https://placeimg.com/2001/1000/nature">
					<p class="gallery__caption">Fusce ut ex quis dui pellentesque tincidunt. Phasellus vehicula nisi eu maximus molestie. Nam ac euismod velit. Mauris vitae quam ligula.</p>
				</div>
			</div>
		</div>

	</div>
</section>

{{> footer}}
