// Nav
#header
  font-size 1.5rem
  position fixed
  top 0
  left 0
  right 0
  height 6rem
  background header-bg
  z-index header-z

  #header__logo
    img
      position absolute
      top 0
      left 0
      width auto
      height 100px

  #header__nav--desktop
    font-size 1rem
    text-align center
    color #222
    padding-top 36px
    top 0
    left 0
    right 0

    ul
      list-style none
      margin 0
      padding 0

      h1,li
        display inline
        font-family font-baskerville
        font-size .9rem
        font-weight normal

        a
          margin 0 .5rem
          color dk-gray
          text-decoration none

      #nav__name
        letter-spacing 3px
        font-style italic

      #nav__pipe
        margin 0 1rem
