// The Building Blocks
@import "variables"
@import "mixins"
//@import "normalize.css"
@import "layout"
@import "typography"

// Global Page Styles
@import "page"
@import "nav"

// Individual Page Styles
@import "pages/home"
@import "pages/process"
@import "pages/galleries"
