// Grid
// Columns

// Breakpoints
small = 0px
medium = 900px
large = 1100px

// Colors
dk-gray = #444
mid-gray = #AAA
lt-gray = #eee
amber = #f7941e
bg-tan = #f2d3b8
bg-blue = #ceeadf
bg-green = #d4e5c1

// Typography
font-baskerville = 'Libre Baskerville', serif
font-playfair = "Playfair Display", serif

// Header
header-bg = $lt-gray
header-z = 100
