// Grid
// Columns
columns = 12 // Number columns used to divide layouts

// Breakpoints
small = 0px
medium = 700px
large = 1100px

// Colors
dk-gray = #444
mid-gray = #AAA
lt-gray = #eee
amber = #f7941e
coral = #f66
bg-tan = #f2d3b8
bg-blue = #ceeadf
bg-green = #d4e5c1

// Typography
font-work = 'Work Sans', sans-serif
font-playfair = "Playfair Display", serif

// Header
header-z = 100
